/* --- RESET CSS + Model de caixa width real --- */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* --- ESTILS GENERALS --- */

.capcalera{
    max-width: 1200px;
    margin: 1rem auto;
    min-height: 25.5rem;
}

header > .transparencia{
    font-family: 'IM Fell Great Primer', serif;
    font-size: 2em;
}

/* --- ESTILS ELEMENTS CAPÇALERA --- */

.capcalera{
    background: url(img/header.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    padding: 4rem 2%;
    display: flex;
    align-items: center;
}

.navbar-logo{
    flex: 1;
}

.navbar-logo > a > img{
    width: 42%;
}

.navbar-botonera{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex: 4;
    align-items: center;
}

.navbar-botonera > li > a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-family: sans-serif;
}

.navbar-botonera > li > a > img{
    width: 1em;
    opacity: 0.4;
}

.navbar-botonera > li > a > img:hover, .navbar-botonera > li > a:hover{
    opacity: 100%;
    color: black;
}

.navbar-botonera > li:hover{
    min-height: 2em;
    border-bottom: 2px solid orangered;
}

.navbar-xarxes{
    flex: 1 1 4rem;
    text-align: right;
}

.navbar-xarxes > img{
    width: 1rem;
    margin-right: 10%;
    opacity: 0.4;
}

.navbar-xarxes > img:hover{
    opacity: 100%;
}

.transparencia{
    min-height: 8.5rem;
    padding: 1em 20%;
    align-self: center;
    background-color: rgba(0,0,0,0.07);
    text-align: center;
    color: rgba(255,120,0,0.5);
}

/* --- Adaptació versió TABLET amb MEDIA QUERIES --- */

@media screen and (max-width: 768px){
   
    /* Elements CAPÇALERA */
    header > .transparencia{
        font-size: 1.5em;
    }
    .navbar-botonera > li{
        text-align: center;
    }
}

/* --- Adaptació versió MOBILE amb MEDIA QUERIES --- */

@media screen and (max-width: 480px){

    /* Elements CAPÇALERA */
    .capcalera{
        min-height: 35rem;
    }
    .navbar{
        flex-direction: column;
        padding: 1rem 4%;
    }
    .navbar-botonera{
        display: block;
    }
    .navbar-logo{
        text-align: center;
    }
    .navbar-logo > a > img{
        width: 12%;
    }
    .navbar-logo, .navbar-botonera, .navbar-xarxes{
        margin: 0.5rem 0%;
        width: 100%;
    }
    .navbar-xarxes > img{
        margin-right: 1%;
    }
    .navbar-botonera > li{
        margin: 1.5%;
    }
    .navbar-botonera > li:hover{
        min-height: 1em;
    }
}